.create-path {
  // color: #444444;

  header {
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d0cf;
    letter-spacing: 1px;

    .back-button {
      font-size: 12px;
      color: white;
      padding: 15px 18px;
      transition: .6s;
      border-radius: 2px;
      font-weight: bold;
      background: -webkit-gradient(
      linear, left top, left bottom,
      from(#4499db),
      to(#177ed7));
      &:hover {
        background: -webkit-gradient(
        linear, left top, left bottom,
        from(#3f92c6),
        to(#0074bc))
      }
    }
    .path-form-header {
      margin-left: 5px;
      font-weight: lighter;
    }
  }
}

.path-main {
  color: #444444;
  display: flex;
  margin-top: 20px;

  .errors {
    font-size: 11px;
    color: rgba(255, 0, 0, 0.69);
    width: 180px;
  }

  .path-form {

    .path-details {
      padding: 10px 0px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        text-transform: uppercase;
        margin: 8px 0;
        padding-bottom: 4px;
        border-bottom: 1px solid gray;
        font-size: 18px;
      }


      li {
        margin: 5px;

        &:last-child {
          padding-bottom: 5px;
          border-bottom: 1px solid gray;
        }
      }

      p {
        width: 240px;
        vertical-align: middle;
      }

      .address {
        height: 38px;
      }

      h4 {
        margin: 8px 0;
        font-size: 14px;
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 14px;
      }
    }

    .path-form-input {
      padding: 10px 0px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;


      h3 {
        text-transform: uppercase;
        margin: 8px 0;
        padding-bottom: 4px;
        border-bottom: 1px solid gray;
        font-size: 18px;
      }

       .name-input, .description-input {
        margin: 5px 0;
        border: 1px solid #c8c7cc;
        padding: 10px;
        font-size: 12px;
        width: 180px;
        border-radius: 3px;
        transition: .2s;
        &:focus {
          box-shadow: 0px 0px 4px 1px rgba(64,128,255,1);
          background: #fff;
        }
      }

      .select-container {
        border: 1px solid #c8c7cc;
        border-radius: 2px;
        width: 200px;
        margin: 5px 0;

        select {
          background: transparent;
          border: none;
          font-size: 12px;
          height: 35px;
          padding: 5px;
          width: 200px;
          // transition: .2s;
          &:focus {
            box-shadow: 0px 0px 4px 1px rgba(64,128,255,1);
            background: #fff;
          }
        }
      }

      input[type='date'] {
          width: 100%;
          padding: 8px 15px;
          font-size: 12px;
          text-transform: uppercase;
          transition: .2s;
          &:focus {
            box-shadow: 0px 0px 4px 1px rgba(64,128,255,1);
            background: #fff;
          }
      }

      #date-container {
        border: 1px solid #c8c7cc;
        border-radius: 3px;
        width: 200px;
        margin: 5px 0;
      }

      #duration-container {
        width: 200px;
        justify-content: space-between;
        align-items: center;

        input[type='tel'] {
          margin: 5px 0;
          border: 1px solid #c8c7cc;
          padding: 10px;
          font-size: 12px;
          width: 38px;
          border-radius: 3px;
          transition: .2s;
          &:focus {
            box-shadow: 0px 0px 4px 1px rgba(64,128,255,1);
            background: #fff;
          }
        }
      }

      input[type='submit'] {
        background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ff9628),
        to(#ff8714));
        width: 160px;
        text-align: center;
        color: #fff;
        height: 20px;
        cursor: pointer;
        text-transform: uppercase;
        padding: 5px 20px;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1.5px;
        border-radius: 5px;
        margin-top: 10px;

        &:hover {
          background: -webkit-gradient(
          linear, left top, left bottom,
          from(#f08a15),
          to(#e56e06))
        }
      }

      .false {
        display: none;
      }

      .true {
        display: flex;
      }
    }

  }
}
