<script type="text/javascript">

  // only for static images. Not things that your users upload
  window.images = {
    sampleAvatar: "<%= image_path("sample_avatar.jpg") %>"
  }
</script>


<main id="root"></main>
