.masthead-container {
  // border: 1px solid black;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  justify-content: center;

  .masthead {
    // border: 1px solid black;
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 950px;

    // * {
    //   border: 1px solid black;
    // }

    .logo {
      display: flex;
      align-items: center;
      text-align: center;
      margin-bottom: 4px;

      .title {
        font-size: 26px;
        padding: 5px;
        font-weight: 700;
        color: #2f98d9;
        // letter-spacing: 1px;

        &:before {
          position: relative;
          top: 2px;
          padding: 0 15px 0 0;
          content: "∆";
          font-size: 30px;
          font-weight: 400;
        }
      }
    }
    .user-info {
      .avatar {
        position: relative;
        height: 42px;
        width: 45px;
        border: .5px solid #d1d0cf;
        // border-radius: 10px;
        margin: 0 8px 0 0;
      }

      &:hover #drop-down-menu {
        display: flex;
      }

      #drop-down-menu {
        display: none;
        flex-direction: column;
        position: relative;
        border: 1px solid #d3d6dc;
        border-top: 0;
        top: 111px;
        left: 48px;
        color: #9297a3;
        box-shadow: 0 2px 4px 0 rgba(34, 38, 40, 0.2);
        background-color: #fff;

        .drop-down-button {
          text-align: center;
          padding: 10px 20px;
          font-size: 12px;
          border-top: 1px solid #d3d6dc;
          cursor: pointer;
          font-weight: 500;
          &:hover {
            color: black;
          }
        }
      }
    }


    nav {
      display: flex;
      align-items: center;
      padding: 5px;

      .login-button, .signup-button, .signout-button {
        position: relative;
        padding: 10px;
        margin: 5px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 13px;
        color: #9297a3;
        transition-duration: .4s;
      }

      .signout-button {
        margin: 0 0 0 10px;
        cursor: pointer;
        color: #fff;
        border-radius: 5px;
        background-color: #3b5998;

        &:hover {
          background-color: #274178;
        }
      }

      a.signup-button {
        background: #97bf11;
        color: #fff;
        border-radius: 5px;
      }

      a.signup-button:hover {
        background: #94bb0f;
      }

      a.login-button:hover {
        color: #6d717a;
        font-weight: 500
      }
    }
  }

}
