.main-content-container {
  display: flex;
  justify-content: center;
  background: image-url("global_bg.png");

  // * {
  //   border: 1px solid red;
  // }

  .header-container {
    // border-bottom: 1px solid #d1d0cf;
    display: flex;
    width: 950px;
    padding: 28px 0 0 0;

    // * {
    //   border: 1px solid black;
    // }
    .end-border {
      // border-bottom: 1px solid #dddddd;
      display: flex;
      width: 200px;
      height: 1px;
    }


    .profile-tabs-container {
      // display: flex;
      background-color: inherit;
      border-top: 1px solid #dddddd;
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
      // outline: 1px solid #d1d0cf;

      // border-bottom: 0;

      .profile-tabs {
        * {
          // border: 1px solid red;
        }



        display: flex;
        // height: 45px;
        // border-bottom: 1px solid #d1d0cf;

        a {
          font-size: 15.5px;
          text-transform: uppercase;
          padding: 14px 23px;
          width: 200px;
          text-align: center;
          color: #046AB2;
          background: #f6f6f6;
          border-bottom: 1px solid #d1d0cf;

          &:hover {
            color: #92BFDD;
            background: #fff;
          }

          &:first-child {
            border-right: 1px solid #dddddd;
          }

          &:last-child {
            border-left: 1px solid #dddddd
          }

        }

        .selected {
          // position: relative;
          // top: .5px;
          border-top: 3.5px solid #2BA5EF;
          color: #444444;
          background: #fff;
          // margin-bottom: 1px;
          border-bottom-width: 0;
        }
        // move link down 1px pixel on select to remove bottom border
      }
    }
  }

}
