.friends-content-container {
  margin: 0 auto;
  max-width: 940px;
}

.friends-tabs-container {

  .friends-tabs {
    display: flex;
    padding: 35px 0 20px 0;
    color: #046AB2;

    a {
      font-size: 14px;
      text-transform: uppercase;
      padding: 12px 23px;
      width: 500px;
      text-align: center;
      background: #f6f6f6;
      border-top: 1px solid #d1d0cf;
      border-bottom: 1px solid #d1d0cf;
      border-right: 1px solid #d1d0cf;
      font-weight: 700;


      &:hover {
        color: #92BFDD;
        background: #fff;
      }

      &:first-child {
        border-left: 1px solid #dddddd;
      }
    }

    .selected {
      border-top: 3.5px solid #2BA5EF;
      color: #444444;
      background: #fff;
      border-bottom: 0;
      cursor: default;

      &:hover {
        color: #444444;
        background: #fff;
      }
    }

    .end-border {
      border-bottom: 1px solid #d1d0cf;
      width: 100%;
    }
  }
}
