.auth-form-container {
  display: flex;
  justify-content: center;
  background: #f0f0f0;
  // height: 600px;
  border-bottom: 1px solid #d6d6d6;

  // * {
  //   border: 1px solid black;
  // }
  .errors {
    font-size: 12px;
    color: rgba(255, 0, 0, 0.69);
    padding: 5px 0 3px 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5%;
    // height: 600px;
    width: 320px;
    margin: 40px 0 100px;

  }

  a.toggle-button {
    position: relative;
    padding: 10px 0;
    margin: 10px 0 0 0;
    top: 2px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    color: #9297a3;
    font-weight: 500;
    text-align: right;
    transition-duration: .4s;

    &:hover {
      color: #6d717a;
      font-weight: 500
    }
  }


  .or-bar {
    display: flex;
    align-items: center;
    margin: 15px 0;

    .bar {
      display: block;
      height: 1px;
      flex: 1;
      border-bottom: 1px solid #c8c7cc
    }

    .or {
      text-transform: uppercase;
      font-size: 12px;
      padding: 0 15px;
      color: #c8c7cc;
    }
  }

  input[type="submit"], .guest-login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #97bf11;
    color: #fff;
    width: 100%;
    height: 24px;
    cursor: pointer;
    transition-duration: .4s;
    text-transform: uppercase;
    margin: 15px 0 5px 0;
    padding: 10px 0;
    font-size: 12px;
    letter-spacing: .8px;
    border-radius: 2px;
    &:hover {
      background-color: #94bb0f
    }
  }

  .guest-login {
    background-color: #3b5998;
    &:hover {
      background-color: #274178;
    }
  }

  .input-container {
    display: block;
    margin-bottom: 4px;

    height: 40px;
    margin: 6px 0;
  }

  .input-box {
    border: 1px solid #c8c7cc;
    display: block;
    width: 100%;
    padding: 20px 16px;
    height: 44px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 100;
    &::-webkit-input-placeholder {
      color: #c8c7cc;
    }
    &:focus {
      box-shadow: 0px 0px 4px 1px rgba(64,128,255,1)
    }
  }
}
