html, body, header, nav, h1, a, h2, h3, h4, h5, a,
ul, li, strong, main, button,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Roboto','Open Sans', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
